@use '/src/mixins';

.madeBy {
    display: flex;
    align-items: center;
    gap: var(--two-spaces);

    .logo {
        @include mixins.fix-size(40px);

        border-radius: var(--half-space);
    }

    .text {
        font-size: 1rem;
        color: var(--color-white);
    }

    .link {
        color: var(--color-primary-toresrise);
        font-weight: 600;

        &:hover,
        &:focus {
            opacity: 0.75;
        }
    }

    @include mixins.sm {
        flex-direction: column;
        gap: var(--four-spaces);
        justify-content: center;

        .text {
            text-align: center;
        }

        .logo {
            @include mixins.fix-size(60px);
        }
    }
}
