@use 'mixins';

@import 'reset';
@import 'variables';

html,
body,
#root {
    font-family: 'Inter', sans-serif;
    height: 100%;
    line-height: 1.2;
    overflow-x: hidden;
    font-weight: 400;

    @include mixins.dark-theme {
        color: var(--color-white);
        background-color: var(--color-black);
    }

    @include mixins.light-theme {
        color: var(--color-black);
        background-color: var(--color-white);
    }
}

html,
body {
    font-size: 16px;

    @include mixins.sm {
        font-size: 14px;
    }
}

#root {
    font-size: 1rem;
}

* {
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition-property: color, background-color, opacity, border, border-bottom-color, border-left-color,
        border-right-color, border-top-color, box-shadow;
    transition-duration: var(--ms-transition);

    @include mixins.dark-theme {
        color: var(--color-white);
    }

    @include mixins.light-theme {
        color: var(--color-black);
    }

    &:not(html):not(body):not(#root) {
        @include mixins.fancy-scroll;
    }

    svg {
        &,
        * {
            @include mixins.clear-transition();

            @include mixins.any-theme {
                color: inherit;
            }
        }
    }
}

img {
    pointer-events: none;
    user-select: none;
}

::-moz-selection {
    @include mixins.selection;
}

::selection {
    @include mixins.selection;
}

a {
    text-decoration: underline;
}
