@use 'mixins';

@import 'reset';

:root {
    --color-white: #fdfffc;
    --color-black: #0b0a0a;
    --color-grey: #a5a5a5;
    --color-dark-grey: #333533;
    --color-primary: #a72cf4;
    --color-secondary: #6600a5;
    --one-space: 4px;
    --half-space: calc(var(--one-space) / 2);
    --two-spaces: calc(var(--one-space) * 2);
    --four-spaces: calc(var(--one-space) * 4);
    --five-spaces: calc(var(--one-space) * 5);
    --eight-spaces: calc(var(--one-space) * 8);
    --ms-transition: 200ms;
}

html,
body,
#root {
    font-family: 'Inter', sans-serif;
    height: 100%;
    line-height: 1.2;
    overflow-x: hidden;

    @include mixins.dark-theme {
        color: var(--color-white);
        background-color: var(--color-black);
    }

    @include mixins.light-theme {
        color: var(--color-black);
        background-color: var(--color-white);
    }
}

html,
body {
    font-size: 16px;

    @include mixins.sm {
        font-size: 14px;
    }
}

#root {
    font-size: 1rem;
}

* {
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition-duration: var(--ms-transition);
    transition: color, background-color, border-bottom-color, border-left-color, border-right-color, border-top-color,
        box-shadow;

    @include mixins.dark-theme {
        color: var(--color-white);
    }

    @include mixins.light-theme {
        color: var(--color-black);
    }
}

img {
    pointer-events: none;
    user-select: none;
}

::-moz-selection {
    @include mixins.selection;
}

::selection {
    @include mixins.selection;
}
