@use 'variables';

@mixin light-theme{
    @at-root #{selector-nest('html[data-theme=light]', &)} {
        @content;
    }
}

@mixin dark-theme{
    @at-root #{selector-nest('html:not([data-theme=light]):not([data-theme=dark])', &)} {
        @content;
    }

    @at-root #{selector-nest('html[data-theme=dark]', &)} {
        @content;
    }
}

@mixin selection {
    background: var(--color-primary);

    @include dark-theme{
        color: var(--color-white);
    }

    @include light-theme{
        color: var(--color-black);
    }
}

@mixin sm {
    @media (variables.$mobile-break) {
        @content;
    }
}
