@use 'variables';

@mixin light-theme {
    @at-root #{selector-nest('html[data-theme=light]', &)} {
        @content;
    }
}

@mixin dark-theme {
    @at-root #{selector-nest('html:not([data-theme=light]):not([data-theme=dark])', &)} {
        @content;
    }

    @at-root #{selector-nest('html[data-theme=dark]', &)} {
        @content;
    }
}

@mixin any-theme {
    @include dark-theme {
        @content;
    }

    @include light-theme {
        @content;
    }
}

@mixin full-width-page {
    position: relative;
    left: calc(var(--eight-spaces) * -1);
    width: calc(100% + (var(--eight-spaces) * 2));

    @include sm {
        left: calc(var(--five-spaces) * -1);
        width: calc(100% + (var(--five-spaces) * 2));
    }
}

@mixin selection {
    background: var(--color-primary);

    @include dark-theme {
        color: var(--color-white);
    }

    @include light-theme {
        color: var(--color-black);
    }
}

@mixin sm {
    @media (variables.$mobile-break) {
        @content;
    }
}

@mixin md {
    @media (variables.$tablet-break) {
        @content;
    }
}

@mixin title {
    font-family: 'Lobster', cursive;
}

@mixin fix-width($width) {
    width: $width;
    min-width: $width;
    max-width: $width;
}

@mixin fix-height($height) {
    height: $height;
    min-height: $height;
    max-height: $height;
}

@mixin fix-size($size) {
    @include fix-width($size);
    @include fix-height($size);
}

@mixin control-focus {
    &:focus {
        border: var(--small-border) var(--color-primary);
        box-shadow: inset 0 0 0 var(--one-space) var(--color-primary-opacity-24);
    }
}
